UnityLearn/Temp/
UnityLearn/Library/ShaderCache/
xlua_Unity/Library/
xlua_Unity/Temp/
*.suo
tolua_unity/Library/
tolua_unity/Temp/
UnityLearn/Library/
3dRunner/Library/
3dRunner/Temp/
3dRunner/APK/3DRunning.apk
Shader/Library/
Shader/Temp/
Guardian/Library/
Guardian/Temp/
EasyTouch/Library/
EasyTouch/Temp/
EasyTouch/APK/
assetBundle/learnAssetBundle/Library/
assetBundle/learnAssetBundle/Temp/
assetBundle/learnAssetBundle/Assets/StreamingAssets/
Shader/Apk/
PullTheBox/Library/
PullTheBox/obj/
PullTheBox/.vs/
ThreeElimination/XXmusic/Library/
ThreeElimination/XXmusic/obj/
ElasticBall/Library/
ElasticBall/.vs/
PhysicalBall/BallBall/Library/
HotUpdate/Library/
HotUpdate/Temp/
HotUpdate/Assets/StreamingAssets/
Touch/Library/
Touch/Temp/
Touch/APK/
xlua_Unity/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
xlua_Unity/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
